TUSHARE_TOKEN=c50c6e30c29284f561f3cbe8454a75c5fd2539a87483bc489bceec48

RAW_DB_PATH=D:/quant_system/data/raw_data/raw_market_data.db
STD_DB_PATH=D:/quant_system/data/standardized_data/research_data.db

APP_LOG_PATH=D:/quant_system/logs/application.log
JOB_LOG_PATH=D:/quant_system/logs/job_runs.log
ERROR_LOG_PATH=D:/quant_system/logs/errors.log

DEFAULT_START_DATE=20100101
DEFAULT_END_DATE=20261231
DEFAULT_EXCHANGE=SSE